body {
  margin: 0;
  box-sizing: border-box;
  height: 100%;
}

main {
}

footer {
  margin-top: auto;
}

/* For footer placement */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.slider {
  height: 18rem;
}

.productImage:hover {
  cursor: pointer;
}

.productImage {
  max-height: 18rem;
  min-height: 18rem;
}

.productSubHeading {
  font-weight: 700;
}
