:root {
  --oat: #ece7db;
  --forest: #859784;
  --grey: #cccccb;
  --slate: #424142;
}

.bg-body {
  background-color: var(--oat);
}

.btn-primary {
  background-color: var(--oat) !important;
  border-color: black !important;
}

.btn-outline-primary {
  border-color: black !important;
  color: black !important;
  background-color: #424142;
}

.btn-outline-primary:hover {
  border-color: black !important;
  color: black !important;
  background-color: #ece7db85;
}

html {
  font-family: "Judson", serif;
}

body {
  margin: 0;
  box-sizing: border-box;
  height: 100%;
}

footer {
  margin-top: auto;
}

nav {
  background-color: var(--oat);
}
/* For footer placement */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.slider {
  height: 18rem;
}

.productSubHeading {
  font-weight: 700;
}

/* Home Page Style */

.shopNowBtn:hover {
  transform: scale(1.1);
}

.imageStyle {
  height: 30rem;
  object-fit: contain;
  display: block;
}

/* Add query set to fix responsiveness*/
.heroText1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10rem;
  font-family: "Judson";
}

/* .carouselItem1 {
  object-fit: contain;
  display: flex;
  justify-content: center;
  background-color: var(--oat);
} */

/* regsiter page */

.registerForm {
  max-width: 800px;
}
