:root {
  --oat: #ece7db;
  --forest: #859784;
  --grey: #cccccb;
  --slate: #424142;
}

.btn-secondary {
  background-color: var(--oat) !important;
  color: black !important;
}

.bg-body {
  background-color: var(--oat);
}

.btn-primary {
  background-color: var(--oat) !important;
  border-color: black !important;
}

.btn-outline-primary {
  border-color: black !important;
  color: black !important;
  background-color: #424142;
}

.btn-outline-primary:hover {
  border-color: black !important;
  color: black !important;
  background-color: #ece7db85;
}

html {
  font-family: "Judson", serif;
}

body {
  margin: 0;
  box-sizing: border-box;
  height: 100%;
}

footer {
  margin-top: auto;
}

nav {
  background-color: var(--oat);
}
/* For footer placement */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.slider {
  height: 18rem;
}

/* .productSubHeading {
  font-weight: 700;
} */

/* Home Page Style */

.shopNowBtn:hover {
  transform: scale(1.1);
}

.imageStyle {
  height: 30rem;
  object-fit: contain;
  display: block;
}

/* Add query set to fix responsiveness*/
.heroText1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10rem;
  margin-left: 1.3rem;
  font-family: "Judson";
}

/* .carouselItem1 {
  object-fit: contain;
  display: flex;
  justify-content: center;
  background-color: var(--oat);
} */

/* regsiter page */

.registerForm {
  max-width: 600px;
}

input.input-error,
select.input-error {
  border-color: red !important;
}

input.input-error.input-error:focus,
select.input-error.input-error:focus {
  box-shadow: 0 0 3px 3px #fc8181;
}

.inputErrorMessage {
  color: red;
}

button:disabled {
  opacity: 0.35;
}

.scrollable-table-wrapper {
  display: block;
  max-height: 70vh;
  overflow-y: auto;
}

.scrollable-table {
  width: 100%;
  table-layout: auto; /* Allows columns to size based on content */
}

.scrollable-table thead {
  position: sticky;
  top: 0;
  background-color: var(--oat); /* Ensure background isn't transparent */
}

/* Additional styling as needed */

.scrollable-table thead tr th {
  background-color: var(--oat);
}

@media screen and (max-width: 750px) {
  .heroText1 {
    display: none;
  }

  .logoSliderImage {
    padding-bottom: 4rem;
  }

  .loginImageContainer {
    display: none;
  }
}

/* @media screen and (max-width: 700px) {
  th {
    display: none;
  }

  td {
    display: flex;
    padding: 0.5rem 1rem;
  }

  td::before {
    text-transform: capitalize;
    font-weight: 700;
  }

  td:nth-of-type(2)::before {
    content: "Product:";
  }
  td:nth-of-type(3)::before {
    content: "Price:";
  }
  td:nth-of-type(4)::before {
    content: "Quantity:";
  }
  td:nth-of-type(5)::before {
    content: "Subtotal:";
  }
  td:nth-of-type(6)::before {
    content: "Remove Item:";
  }
  select {
    max-width: 200px;
  }
} */

.table-container {
  max-width: 100%;
  overflow-x: scroll;
}
.stock-table-container {
  max-width: 100%;
  overflow-x: scroll;
}
.user-table-container {
  max-width: 100%;
  overflow-x: scroll;
}
.order-table-container {
  max-width: 100%;
  overflow-x: scroll;
}
